@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './../../assets/scss/reset.scss';


.container {
    width: 80%;
    margin: 0 auto;
}

.page-wrapper {
    padding: 3rem 0 1rem 0;
    min-height: calc(100vh - 60px);
}
